body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color:antiquewhite;
    text-align: center;
    overflow-x: hidden;
    background-color: #6BB070;
}
  .header-row {
    background-color: white;
    height: 50px;
    width: 100vw;
    display: flex; 
    flex-direction: row;
    position: fixed;
    z-index: 3;
  }  
  #site-graphic {
    width: 30%;
    height: 100%;
    text-align: center;
    color: #8cc290;
    padding-top: 1rem;
    background-color: white;
  }
  #site-graphic a{
    text-decoration: none;
    color: #8cc290;
  }
  #site-graphic a:hover{
    color: #d3ebcb;
  }
  #center {
    width: 50%;
    color: #8cc290;
    font-family: Lucida Handwriting;
    text-align: center;
    margin: auto;
    font-size: xx-large;
    padding-right: 70px;
    margin-right: 10%;
  }
  #menu {
    width: 20%;
    height: 50px;
  }

  #menu-dropdown {
    display: none;
    border-bottom-left-radius: 25px;
    background: white;
    position: absolute;
    z-index: 3;
    width: 18%;
    margin-top: -5px;
  }

  .menu-list {
    margin: 0;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #8cc290;
  }

  li{
    text-align: center;
    width: 94%;
  }

  .header {
    text-align: center;
    color:antiquewhite;
    font-size: 2.5em;
    padding-bottom:20px;
    padding-top: 10px;
  }

  .effect{
    color: #8cc290; 
    padding-bottom: 0px; 
    padding-top: 0px; 
    margin-top: -5px;
  }

  .effect:hover {
    color:#d3ebcb;
  }

  .small-text {
    font-size: medium;
  }

  .menu-list li:hover {
    background-color: #d3ebcb;
    color:#8cc290;
  }

  .menu-list .disabled:hover {
    background-color: white;
    color:black;
  }

  .menu-list li:last-child:hover {
    border-bottom-left-radius: 25px;
  }

  .content {
    padding-top: 60px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #6BB070;
    padding-bottom: 50px;
  }

  .concessions {
    padding-top: 60px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #6BB070;
  }

  .info {
    padding-top: 60px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #6BB070;
  }

  .outer {
    display: flex;
  }

  .ari, .faith {
    width: 40%;
    background-color: #d3ebcb;
    border: 1px solid #8cc290;
    text-align: center;
    border-radius: 25px;
    margin: auto;
  }

  .ari img, .faith img {
    width: 200px;
    border-radius: 40px;
  }

  .concess {
    width: 80%;
    background-color: #d3ebcb;
    border: 1px solid #8cc290;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    padding-bottom: 10px;
  }

  .concess img {
    height: auto;
    width: 300px;
    border-radius: 40px;
    place-items:center;
    margin: 0 auto;
  }

  #shell-body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #6BB070;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  iframe {
    display:block;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    border: none;
  }

  video {
    display:block;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    border: none;
  }

  .description {
    width: 80%;
    margin: auto;
    border-radius: 25px;
    background: #8cc290;
    padding: 20px;
    color:antiquewhite;
  }

  #weekly-showings {
    display: flex;
    margin: auto;
    width: 100%;
  }

  .weekday {
    width: 13%;
  }

  .left {
    text-align: left;
    width: 70%;
    height: 40px;
  }

  .right {
    text-align: right;
    width: 30%;
    height: 40px;
    font-size: large;
  }

  .center {
    text-align: left;
    width: 100%;
    height: 20px;
    font-size: small;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  height: 400px;
  position: relative;
  margin: auto;
  background-color: #8cc290;
  margin-top: 10px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: auto;
}

.mySlides img {
  margin: auto;
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #8cc290;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}